.dashboard {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dashboard > .courseType {
    margin: 50px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.dashboard > .courseType:visited {
    color: black;
    text-decoration: none;
}

.dashboard > .courseType > img {
    width: 300px;
}