.error {
  color: red;
  display: block;;
}

.login-panel {
  flex-direction: row;
  text-align: center;

  max-width: 500px;
  margin: 0 auto;
  padding-top: 91px;

  align-items: center;
}

.login-panel > div {
  display: flex;
  flex-direction: row;
  text-align: center;

  max-width: 500px;
  margin: 0 auto;

  align-items: center;
}

.login-panel > div > * {
    margin: 0 5px;
}

.login-panel > div > button{
  border: 1px solid grey;
}